{% extends 'index.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}


    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">About us </h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We are a company that solve IT problems, From hardware maintance and repaire. Software development, both mobile and desktop application. Our priority is our customers problems and how to solve them to their satisfaction.</p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}